*.har
*.warc
*.warc.gz
!examples/*.warc
**/node_modules
.DS_Store
!dist/embed/*
node_modules
extension.zip
**/dist
**/.idea/*
*.env
# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
/.yarn/cache/*

